/*
	Skin Name: Minimal Small
	Class: minimal-small
	Description: Minimal Small skin for Slider PRO WordPress plugin
	Author: David
*/


/* MAIN SLIDE */

.minimal-small .slide-wrapper
{
	background-color:#e2ecf3;
	border:8px solid #75b434;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
}

/* END OF MAIN SLIDE */


/* SLIDE PRELOADER */

.minimal-small .preloader
{
	background:url(images/preloader2.gif) no-repeat;
	width:62px;
	height:14px;
}

/* END OF SLIDE PRELOADER */


/* SLIDE ARROWS */

.minimal-small .navigation-arrows a
{
	background:url(images/arrows.png) no-repeat;
	width:24px;
	height:24px;
	bottom:20px;
}


.minimal-small .navigation-arrows a.previous
{
	right:78px;
}


.minimal-small .navigation-arrows a.next
{
	right:20px;
	background-position: -24px 0px;
}

/* SLIDE ARROWS */


/* SLIDESHOW CONTROLS */

.minimal-small .slideshow-controls
{
	background:url(images/playpause.png) no-repeat;
	width:24px;
	height:24px;
	bottom:20px;
	right:49px;
}


.minimal-small .slideshow-controls.pause
{
	background-position: 0px 0px;
}


.minimal-small .slideshow-controls.play
{
	background-position: -24px 0px;
}

/* END OF SLIDESHOW CONTROLS */


/* SHADOW */

.minimal-small .shadow
{
	height:94px;
	margin-top:-50px;
}


.minimal-small .shadow .shadow-left, .minimal-small .shadow .shadow-right
{
	width:200px;
	height:94px;
}


.minimal-small .shadow .shadow-left
{
	background:url(images/shadow_left.png);
}


.minimal-small .shadow .shadow-right
{
	background:url(images/shadow_right.png)
}


.minimal-small .shadow .shadow-middle
{
	background:url(images/shadow_middle.png) repeat-x;
	height:94px;
}

/* END OF SHADOW */


/* TIMER ANIMATION */

.minimal-small .timer-animation
{
	top:20px;
	right:20px;
}

/* END OF TIMER ANIMATION */


/* SLIDE CAPTION */

.minimal-small .caption .background
{
	background-color:#000;
	width:100%;
	height:100%;
}


.minimal-small .caption-container .caption
{	
	color:#666666;
	margin:0px;
	padding:8px;
	font-size:13px;
	font-weight:bold;
	line-height:24px;
	font-family: Franklin Gothic, Verdana, Arial,sans-serif;
}

.minimal-small .caption-container .caption a{color:#3366cc;font-size:22px; 	font-family: Franklin Gothic Medium, Verdana, Arial, sans-serif;}

.minimal-small .caption-container .caption a:hover{text-decoration:none;}

/* END OF SLIDE CAPTION */


/* NAVIGATION BUTTONS/BULLETS */

/* main container of the navigation buttons */
.minimal-small .navigation-buttons
{
	bottom:20px;
	right:105px !important;
	left:auto !important;
}


/* 
 left, right and middle of the main container 
 for this skin, these elements are not styled by default
 feel free to add your own styling
*/
.minimal-small .navigation-buttons .left, .minimal-small .navigation-buttons .right {}


.minimal-small .navigation-buttons .left {}


.minimal-small .navigation-buttons .middle {}


.minimal-small .navigation-buttons .right {}


/* this contains the buttons */
.minimal-small .navigation-buttons .buttons {}


/* this is a button */
.minimal-small .navigation-buttons .buttons a
{
	background:url(images/buttons.png) no-repeat;
	background-position:0px 0px;
	cursor:pointer;
	width:24px;
	height:24px;
	margin:0px 2px;
	text-align:center;
}


.minimal-small .navigation-buttons .buttons a.over
{
	background-position:-24px 0px; 
}


.minimal-small .navigation-buttons .buttons a.select
{
	background-position:-48px 0px; 
}


/* this is used to style the numbers from within the buttons, when they are used */
.minimal-small .navigation-buttons .buttons a .number
{
	margin-top:3px;
	font-size:12px;
	line-height:12px;
	padding:2px;
	font-weight:bold;
	color:#EEE;
}


.ie9.minimal-small .navigation-buttons .buttons a .number
{
	margin-top:5px;
}


.minimal-small .navigation-buttons .buttons a.over .number
{
	color:#333;
}


.minimal-small .navigation-buttons .buttons a.select .number
{
	color:#333;
}


/* 
 applied to the thumbnail when the thumbnail is used only as a tooltip
 sets the distance between the button and the thumbnail
*/
.minimal-small .navigation-buttons .buttons .thumbnail
{
	margin-bottom:10px;
}

/* END OF NAVIGATION BUTTONS/BULLETS */


/* THUMBNAIL IMAGE */

.minimal-small .thumbnail
{
	background-image:url(images/preloader.gif);
	background-color:#000;
	background-position:center;
	background-repeat:no-repeat;
	border:solid 3px #e2ecf3;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	box-shadow: 0px 0px 10px #333;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#333333')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#333333');
}

/* END OF THUMBNAIL IMAGE */


/* NAVIGATION THUMBNAILS / THUMBNAIL SCROLLER */

.minimal-small .navigation-thumbnails.horizontal
{
	margin-top:50px;
	padding:0px 20px;
}


.minimal-small .navigation-thumbnails.vertical
{
	margin-left:50px;
	padding:20px 0px;
}


.minimal-small .navigation-thumbnails .thumbnail
{
	cursor:pointer;
	margin:10px 5px;
}


.minimal-small .navigation-thumbnails .thumbnail.over
{
	border:solid 3px #d6e4ee;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#000000');
}


.minimal-small .navigation-thumbnails .thumbnail.select
{
	border:solid 3px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#000000');
}


/* THUMBNAIL CAPTION */

.minimal-small .thumbnail .caption .background
{
	background-color:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}


.minimal-small .thumbnail .caption .content
{
	color:#FFF;
	font-size:12px;
	line-height:14px;
	text-align:center;
	padding:2px 0px;
	margin:0px;
}

/* END OF THUMBNAIL CAPTION */


/* NAVIGATION THUMBNAILS ARROWS */

.minimal-small .navigation-thumbnails .arrows a
{
	background:url(images/arrows.png) no-repeat;
	width:24px;
	height:24px;
}


.minimal-small .navigation-thumbnails.vertical .arrows a
{
	background:url(images/arrows_v.png) no-repeat;
}


.minimal-small .navigation-thumbnails .arrows a.next
{
	background-position:-24px 0px;
}


.minimal-small .navigation-thumbnails.horizontal .arrows a.previous
{
	left:0px;
}


.minimal-small .navigation-thumbnails.horizontal .arrows a.next
{
	right:0px;
}


.minimal-small .navigation-thumbnails.vertical .arrows a.previous
{
	top:0px;
}


.minimal-small .navigation-thumbnails.vertical .arrows a.next
{
	bottom:0px;
}

/* END OF NAVIGATION THUMBNAILS ARROWS */


/* NAVIGATION THUMBNAILS BUTTONS */

.minimal-small .navigation-thumbnails .buttons a
{
	background:url(images/buttons_small.png) no-repeat;
	background-position:0px 0px; 
	width:12px;
	height:12px;
	margin:2px;
}


.minimal-small .navigation-thumbnails .buttons a.over
{
	background-position:-12px 0px; 
}


.minimal-small .navigation-thumbnails .buttons a.select
{
	background-position:-24px 0px; 
}

/* END OF NAVIGATION THUMBNAILS BUTTONS */


/* NAVIGATION THUMBNAILS SCROLLBAR */

.minimal-small .navigation-thumbnails.horizontal .scrollbar
{
	margin-top:30px;
}


.minimal-small .navigation-thumbnails.vertical .scrollbar
{
	margin-left:30px;
}

/* END OF NAVIGATION THUMBNAILS SCROLLBAR */

/* END OF NAVIGATION THUMBNAILS / THUMBNAIL SCROLLER */


/* TOOLTIP */

.minimal-small .tooltip
{
	background-color:#DDD;
	margin-bottom:20px;
	border:#EEE solid 4px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}


.minimal-small .tooltip .content
{
	color:#999;
	padding:10px;
	margin:0px;
}

/* END OF TOOLTIP */

/* CSS FOR THE INLINE HTML */


.minimal-small .html .background
{
	width:100%;
	height:100%;
	background:#DDD;
}


.minimal-small .html .content-box
{
	width:180px;
	margin:35px 30px;
	padding:10px;
	background:#888;
	color:#CCC;
	font-size:13px;
	line-height:20px;
	border:4px solid #EEE;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}


.minimal-small .html .content-box p
{
	font-size:13px;
	line-height:20px;
}


.minimal-small .html p
{
	color:#CCCCCC;
}


.minimal-small .html .content-box .title 
{
	font-weight:bold;
	font-style:italic;
	color:#EEEEEE;
}


.minimal-small .html .content-box .slide-button
{
	width:65px;	
	color:#666;
	padding:2px;
	margin-top:10px;
	text-decoration:none;
	background-color:#EEEEEE;
	border:4px solid #FFFFFF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}


.minimal-small .html .images-box
{
	width:540px;
	padding:30px 15px;
}


.minimal-small .html .image-box
{
	background:url(images/image_shadow.png) no-repeat 9px 158px;
	width:260px;
	height:170px;
	float:left;
}


.minimal-small .html .image-box img
{
	margin:10px;
	border:4px solid #FFF;
}

/*END OF CSS FOR THE INLINE HTML */