/*  
Theme Name: Pequerecetas
Description: Theme para Pequerecetas
Version: 7.0
Author: Carlos Sepulveda
Author URI: http://www.pequerecetas.com
*/


/* -------------------------------------------------------------- 
  
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }


/* Generales */
body{line-height: 1.5; margin: 0;font-family: Arial, Helvetica, Georgia, Sans-serif;font-size: 12px;vertical-align: top;color: #000000;width:100%;background:url(images/wrapper_bg2.png) repeat top center;position:absolute;cursor:pointer;display:block;background-attachment:scroll;}

.fondotulipan{background:url(images/wrapper_bggracoTulipan_recetas.jpg) repeat top center;position:absolute;z-index:-99;cursor:pointer;display:block;background-attachment:scroll;}
.fondoisabel{background:url(images/fondo_isabel_pequerecetas.jpg) repeat top center;position:absolute;cursor:pointer;display:block;background-attachment:scroll;}

/*body.fondotulipanrecetas{background:url(images/wrapper_bggracoTulipan_recetas.jpg) repeat top center;position:absolute;cursor:pointer;display:block;background-attachment:scroll;}*/

h1{font-family: TrebuchetMS, Sans-serif;font-size: 2em;padding: 0 0 5px 0;}
a:link, a:visited{text-decoration: none;color: #3399ff;}
a:hover{text-decoration: underline;}
p{padding: 0px 0 0 0;margin-bottom:1em;}

blockquote {
    padding: 20px;
    font-size: 1.5em;
    font-style: italic;
    margin: 0 0 1.5em;
    position: relative;
    border-left: 10px solid #fd845a;
    background-color:#f1f1f1;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
}


/* Imagenes centradas */
p img{border:0px solid #ddd;background-color:#fff;padding:0px;margin:15px;-moz-border-radius:0px;-khtml-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;}
img.sinborde{border:none;background:none;}
img.aligncenter {padding:0px 0px;display:block;margin:6px auto;}
img.singleimage  {padding:4px 0px;display:block;margin:6px auto;}
img.alignright {padding: 4px;margin: 0 0 2px 10px;display: inline;}
img.alignleft {padding: 3px;margin: 0 15px 2px 0;display: inline;}
img.izquierdabloque{padding: 3px;margin: 0 15px 2px 0;display: block;float:left;}
img.alignnone{padding:4px 0px;display:block;margin:6px auto;}
.alignright {float: right;}
.alignleft {float: left; display:block;}
.align-center {text-align: center;}
.centrado{text-align:center;margin: 5px 0;}


/* captions */

.wp-caption{text-align:center;font-style:italic;color:#666666;}
.wp-caption img{text-align:center;margin:0 auto;padding:0;border:0 none;}
.wp-caption a, .wp-caption p.wp-caption-text a{color: #3399ff;}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;padding:0 4px 5px;margin:0;}


em{font-style: italic;}


/* Contenedor de toda la pagina */

#all {margin:0px;padding:0px;clear:both;float:center;width:100%;}
#wrapper{overflow: hidden;margin:0 auto;padding:0;width: 100%;}
/* Primer Header */
#header-pequerecetas{width:100%;height:348px;padding:0px;margin:0 auto;background: url(images/header_bg10.png) no-repeat top center;}
#search{background: url(images/fondo_buscar.png) no-repeat top left;height:57px;width:303px;margin: 2px 0 18px 0;}
#search2{background: url(images/lupa.png) no-repeat top left;height:45px;width:275px;margin:10px auto 5px;}
#search form, #search2 form {padding:0;margin:0;}
#search .txtField {float:left;border-style:none;margin:0px;margin-top: 16px;margin-left: 50px;padding-left:10px;height: 25px;width: 183px;color: #84939e;background: transparent;font-size: 14px;}
#search2 .txtField2 {float:left;border-style:none;margin:0px;margin-top:1px;margin-left:5px;padding-left:5px;height:28px;width: 205px;color: #84939e;background:transparent;font-size:13px;}
#search .btnSearch {width: 14px;margin: 0px;margin-top: 20px;height: 16px;border-style:none;float:left;background: transparent;cursor: pointer;text-indent:-999px;}
#search2 .btnSearch2{width:28px;margin-top:3px;margin-left:10px;height:22px;border-style:none;float:left;background: transparent;cursor: pointer;text-indent:-9999px;}

/* Menu Horizontal Primer Header*/
#menu{height:43px;position:relative;top:302px;width:1024px;margin:0px auto;padding:0px;}
#menu ul{width:1024px;height:43px;list-style-type: none;margin:0px auto;padding: 0;border:0px solid #000;}
#menu ul li {margin:0px 4px 0px 0px;padding: 0px;float:left;display:block;}
#menu ul li a{display: block;padding: 0px 0px;text-indent: -9999px;}
#menu ul li span {}
#menu .item1{background: url(images/btn_1.png) no-repeat center left;width:60px;height:43px;margin-left:8px;}
#menu .item2{background: url(images/btn_2.png) no-repeat center left;width:134px;height:43px;}
#menu .item3{background: url(images/btn_3.png) no-repeat center left;width:130px;height:43px;}
#menu .item4{background: url(images/btn_4.png) no-repeat center left;width:130px;height:43px;}
#menu .item5{background: url(images/btn_5.png) no-repeat center left;width:108px;height:43px;}
#menu .item6{background: url(images/btn_6.png) no-repeat center left;width:130px;height:43px;}
#menu .item7{background: url(images/btn_7.png) no-repeat center left;width:115px;height:43px;}
#menu .item8{background: url(images/btn_8.png) no-repeat center left;width:101px;height:43px;}
#menu .item9{background: url(images/btn_9.png) no-repeat center left;width:68px;height:43px;}
#wrap-submenu{overflow:hidden;padding:0 3px;}
#submenu{height:23px;padding:0px;position:relative;top:0px;width:100%;margin:0px auto;background:#85c541;box-shadow: 0px 0px 10px 0px #006600;-webkit-box-shadow: 0px 0px 10px 0px #006600;-moz-box-shadow: 0px 0px 9px 0px #006600;overflow:hidden;}
.menu_especiales{height:23px;padding:0px 8px;width:1006px;margin:0px auto;}
.menu_especiales  li{padding: 0px 9px 0px 10px;float: left;display: block;}
.menu_especiales a{color:#fff; font-family:'Cuprum',serif;font-size:1.2em;text-transform:uppercase;}
.logo{width:1020px;clear: both;margin:0 auto;}
.logo h1 a,.logo span a{position:absolute;height:150px;width:310px;left:525px;top:29px;text-indent:-9999px;}


/* Contenedor de todo */

#container{width:100%;float:left;clear:both;}
#container2{width:1024px;margin:0px auto;background:#fff;overflow:hidden;}
#full-width{width:1024px;clear:both;height:auto;margin:0px auto;background:#fff;overflow:hidden;margin-bottom:15px;display:block;}

*html #container{width:1050;overflow:visible;}

/* Columna de Contenido (izquierda) */
#bannersuperior{margin:15px 0px 25px;width:1024px;height:auto;padding:0px;}
#bannerisabel{margin: 0px auto; width:960px;height:60px;padding:0px;}
#bannerisabel2{margin: 0px auto; width:960px;height:180px;padding:0px;}
#bannerpollocuk, #bannertulipan{margin: 0px auto; width:1000px;height:260px;padding:0px;}
#banner728{width:auto;text-align:center;margin-left:5px;padding-left:11px;background: url(images/publicidad.gif) no-repeat top left;z-index:60;position:relative;}
#blog, #blogpubli{width:680px;float:left;clear:both;margin:0px 10px 15px 10px;}
#blog-entry{margin-top:20px;}
.blog-post {width:680px;margin:0px;}
.blog-post-video{width:680px;margin:0px;}
.resumen{margin:10px 0px;}
#texto-cat{width:660px;float:left;clear:both;margin:10px 10px 15px 15px;font-size: 18px;line-height: 1.6em;}
#texto-cat h2{font-family: "Pathway Gothic One", sans-serif;font-size: 30px;line-height: 1.5em;}
#texto-cat h3{font-family: "Pathway Gothic One", sans-serif;font-size: 24px;line-height: 1.5em;}

#breakingbox{width:1024px;height:190px;margin:15px 0px 10px 0px;display:block;}

li.featured_single {width:150px;height:270px;display:block;float:left;margin:0px 0px 10px 17px;}
.featured_single p, .featured_single p a{color:#737373; font-family: Arial, Verdana; font-size:12px;}
.featured_image {width:150px; height:150px; display: block; margin: 0px auto; padding:0px;}
.featured_image a {}
.featured_title h2, .featured_title a {float:left; display: block; text-decoration:none; color:#6388aa; font-family: Arial, Verdana, sans-serif; font-size:12px; line-height:16px; font-weight:bold; text-transform:uppercase;}

#sliderandbanner{width:1024px; height:360px; margin:0px; display:block;}
#slide{width:680px; height:355px; margin:10px 0px 0px 15px; float:left;}
.bannerhome{float:right; margin:5px 10px 10px 0px;}

/* Posts */
.post, .post-page{padding: 5px 0 0 0px;margin: 5px 0px 20px 0px;width:680px;text-align:left;display:block;}
.post-cat{padding: 10px 0px 0px 0px;margin: 0px 0px 20px 5px;width:650px;text-align:left;}
.post-video{padding: 10px 0 0 0px;margin: 0px auto 15px;width: 660px;text-align:left;}
.post h1, .post h2, #blog-search h1, .post-page h1, .post-video h1, .post-video h2{width:650px;border-bottom: 1px solid #a8c655; margin:5px 0px 10px 0px;font-family:'Cuprum',serif;font-size: 2.5em;padding: 0 0 10px 0;color: #e53626;line-height:32px;}
.post h2{width:650px;border-bottom: 1px solid #e53626; margin:20px 0px 20px 0px;font-family:'Cuprum',serif;font-size: 2.5em;padding: 0 0 5px 0;color: #e53626;line-height:32px;}
.post-cat h2, .post-cat h1{width:650px;font-family:'Cuprum',serif;font-size: 3.5em;padding: 0 0 5px 0;color:#e53626;border-bottom: 1px solid #a8c655;margin:5px 0px 10px 0px;line-height:1;}
.post-video h1, .post-video h2{width:650px;font-family:'Cuprum',serif;font-size: 2.5em;padding: 5px 0 5px 0;color:#e53626;border-bottom: 1px solid #a8c655;margin:5px 0px 10px 0px;}
.post-page h1{margin-left:10px;line-height:36px;}
.post h3, .post-page h3{font-family:'Cuprum',serif;font-size: 2em;padding: 0 0 5px 0;line-height: 1.2;color:#447215;margin: 20px 0 10px;}
.post h4, .post-page h4{font-family:'Cuprum';font-size: 1.5em;padding: 0 0 5px 0;line-height: 1.2;color:#447215;margin: 20px 0 10px;}
.post h1 a, .post h2 a, .post-page h1 a, .post-page h2 a, .post-cat h2 a{color:#e53626;}
.post h1 a:hover, .post h2 a:hover, .post-page h1 a:hover, .post-page h2 a:hover{background:#e53626;color:#fff;text-decoration:none;}
.post h3 a, .post h4 a, .post-page h3 a, .post-page h4 a{color: #e53626;}
#blog h1, .post-cat h2 {width:650px; margin:10px 0px 10px 15px;font-family:'Cuprum',serif;font-size: 3.5em;padding: 0 0 10px 0;color: #6388aa;;line-height:36px;}
.img{line-height: 18px;clear: both;}
.entry, .entry-video, .entry-cat{clear:both;text-align:justify;width:650px;margin:0px auto;float:left;padding:5px;line-height:24px;}
.entry-video{width:650px;padding:0px;}
.entry-cat{clear:both;text-align:justify;padding-top: 5px;width:650px;margin:0px 0px 30px 0px;}
.entry h2{}
.entry p, .entry-video p{padding:0px;font-size:14px;}
.entry a, .entry-video a, .entry-cat a{color:#3399ff;}
.entry ul , .entry-video ul{list-style:none;list-style-position:inside;margin:0px 0px 10px 0px;}
.entry ul span li, .entry ul li{font-size:14px;padding:2px 5px 0px 20px;margin-bottom:5px;font-style:oblique;background:transparent url(images/bullet-verde.jpg) no-repeat 0px 10px;display:block;}
.ingredientes{list-style:none;list-style-position:inside;margin:0px 0px 10px 0px;float:left;}
.ingredientesizq ul, .ingredientesizq{margin:0px 0px 10px 0px;}
.ingredientes li, .ingredientesizq  li{padding:1px 5px 1px 20px;font-style:oblique;background:transparent url(images/bullet-verde.jpg) no-repeat center left;}
.entry ol, .entry-video ol {padding:5px 0 5px 25px;}
.entry ol li, .entry-video ol li{font-size:14px;margin-bottom: 10px;margin-left: 5px;}
.entry-newsletter{margin-left:0px;padding-left:0px;}
.blog-newsletter{margin-left:0px;}
.bloginfo, .bloginfo-cat{float:left;height:35px;padding:10px 0;display:block;font-family: Verdana, Arial, Sans-serif;font-size: 11px;margin-left:15px;}
.bloginfo{width:650px;}
.bloginfo-cat{width:650px;margin-left:5px;}
.bloginfo .ratings {float: right;padding: 2px 5px 0px 22px;color:#333333;}
.bloginfo .sharefacebook div, .bloginfo-cat .sharefacebook div{float:left;display:block;width:110px;padding-top:5px;}
.bloginfo .sharetwitter, .bloginfo-cat .sharetwitter {float:left;display:block;width:80px;padding-top:5px;}
.bloginfo .pinterest, .bloginfo-cat .pinterest{float:left;display:block;width:125px;padding-top:5px;}
.bloginfo-cat .autor{float: right;padding: 2px 7px 0px 22px;color:#333333;}
.bloginfo .autor{float: right;padding: 7px 2px 0px 0px;color:#333333;}
.bloginfo .autor a, .bloginfo-cat .autor a{color:#619627;}
.bloginfo .edit, .bloginfo-cat .edit{float:left; display:block; padding: 7px 0px 0px 0px}
.bloginfo-video{float: left;width: 660px;height: 25px;margin:0px 0px 5px 0px;padding: 5px 0;display:block;color: #3399ff;font-family: Verdana, Arial, Sans-serif;}
.ver-mas{padding: 0px;margin-bottom:15px;color: #333333;font-family: Verdana, Arial, Sans-serif;font-size: 11px;}
.ver-mas a{color: #ea2d58;text-decoration:underline;}



#comenta{background: url(images/mujer_comentarios.png) no-repeat top left;height:110px;padding: 0 0 0 125px;font-family: TrebuchetMS, Sans-serif;font-size: 11px;}
#comenta a{color: #ea2d58;}
#comenta .rosa {color:#ea2d58;}
.social_icons {width:680px;height:130px;z-index:0;float:left;margin:5px 0;padding:5px;background:url(images/compartelo.png) no-repeat top left;}
.social_icons a{padding-bottom:16px;}

/* SUSCRIPCIONES */

.suscribete h3 {width: 488px;height: 37px;margin-bottom:10px;}
.suscribete h3 a{position:absolute;height: 37px;width: 488px;text-indent:-9999px;background:url(images/suscribete.png) no-repeat top left;}




.postmetadata{line-height: 22px;}
.postmetadata a{}
.singleinfo {height:39px;margin:0px;padding: 0px 0px 5px 0px;}
.more{float:right;width:94px;height:39px;text-indent:-9999px;}
.more a{float:right;background:url(images/leermas.png) top left no-repeat;width:96px;height:42px;}
.postmetadata .etiquetas{margin-bottom: 0px;padding: 0px 0 0px 50px;background: url(images/etiqueta.png) no-repeat center left;}
.postmetadata .etiquetas a {color: #d72951;}
.navigation{padding: 10px 0;font-size: 12px;line-height: 18px;text-align: center;}
.pr-images{border:0px solid #ccc;}
.postdate {border-bottom-width:0;clear:both;float:left;height:17px;padding:5px 10px;position:relative;top:70px;left:-23px;width:55px;font-family: 'Cuprum', Serif;font-size:1.1em;color:#fff;background:#f15240;text-transform:capitalize;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-align:center;/* for firefox, safari, chrome, etc. */-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);/* for ie */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.breadcrumbs{font-size: 1.1em;color: #666;margin: 5px 0 5px 30px;width:660px;height:20px;position: relative;float: left;}




/* Adsense */
#adsense {float:left;padding: 5px 0px;list-style-type:none;text-align:center;margin-left:10px;}
#adsense-video {float:left;padding: 0px 0px 13px 0px;}
#adsenselat{width:300px;height:250px;float:right;margin-bottom:26px;}
#adsense_full{width:680px;height:90px;margin:10px 0px;display:block;float:left;}
#bannerisabellat{width:300px;height:250px;float:right;margin-bottom:10px;}


/* COLUMNA DERECHA */

#sidebar{width: 300px;margin:0px 10px 0px 5px;}
.publicidad{margin: 0px auto 15px;padding:0px;float:right;width:300px;}
.publicidad2{margin: 0px auto 15px;padding:0px;float:right;width:300px;height:600px;}


/* SOCIAL MEDIA */
#fanbox{width:1000px;height:253px;display:block;float:left;background:#fff;margin:5px 0px 15px 10px;box-shadow:0px 0px 10px 0px #ebebeb;-webkit-box-shadow:0px 0px 10px 0px #ebebeb;-moz-box-shadow:0px 0px 10px 0px #ebebeb;}
#fanbox2{float:left;width:300px;margin-left:35px;box-shadow: 0px 0px 10px 0px #ebebeb;-webkit-box-shadow:0px 0px 10px 0px #ebebeb;-moz-box-shadow:0px 0px 10px 0px #ebebeb;}
#fanbox3{width:300px;height:220px;display:block;background:#fff;margin:10px 0px;clear:both;}
#pinterest{float:left;width:300px;height:480px;display:block;background:#fff;margin:5px 0px 25px 0px;}

/* NEWSLETTER */
.fondonewsletter{background:url(images/fondonewsletter.png) no-repeat top left; height:529px; margin: 5px 0px 20px 0px;}
#mc_embed_signup{margin-bottom:10px;height:250px; padding:0px; width:210px;}
#mc_embed_signup_2{width:300px;display:block;height:100px;float:left;background:url(images/registro.png) no-repeat top left;margin:5px 0px;}
#mce-EMAIL{ border:0px; width:170px; padding-left: 33px; padding-top:0px; height:37px;color:#a3a3a3; background:transparent;}
#mce-EMAIL_2{ border:1px solid #ebebeb; width:142px;position:relative;top:57px;left:78px;padding-left:3px;height:17px;color:#a3a3a3;}
.btn{width:127px;height:32px;border:none; padding:0px; position:relative; top:5px; left: 45px; background:url(images/submitemailbtn.png) no-repeat top left; text-indent:-9999px;}
.btn_2{width:127px;height:32px;border:none; padding:0px; position:relative; top:35px; left: 225px; background:url(images/submitemailbtn_2.png) no-repeat top left; text-indent:-9999px;}
#newsletter{ background:url(images/fondoemail.png) no-repeat center left; position:relative; top:270px; left: 100px; height:37px;}

/* PATROCINADORES */
#patrocinadores {clear:both;height:250px;width:299px;margin:10px 0px 20px 0px;border:0px solid #ebebeb;border-top:none;float:right;box-shadow: 0px 0px 10px 0px #ebebeb;-webkit-box-shadow: 0px 0px 10px 0px #ebebeb;-moz-box-shadow: 0px 0px 10px 0px #ebebeb;}
#patrocinadores ul li{width:125px; height:125px; float:left; padding:1px; margin: 30px 9px;list-style-type:none;line-height:14px;text-align:center;border: 1px solid #ccc;}
#patrocinadores h4{background:url(images/nosgustan.png) no-repeat top left;height:26px;width:301px;position:relative;top:-5px;left:-2px;}
#patrocinadores h4 a{font-size:12px;color:#fff;float:right;font-weight:bold;margin:3px 25px 2px 0px;text-decoration:underline;}
#patrocinadores ul li a{color:#000;}

/* REGISTRO */
#registro{width:298px;height:250px;float:right;margin-bottom:23px;border:1px solid #ddd;}

/* PLANTILLA */
#plantilla{width:300px;height:150px;float:right;margin-bottom:15px;}
#plantilla h4{text-indent:-9999px;background:url(images/plantillah4.png) no-repeat top left;width:300px;height:26px;}

/* REGISTRO 2 */
#registro2{width:300px;height:150px;float:right;margin-bottom:10px;}


/* FEED PEQUERECETAS */
#feedpequerecetas {display:block;float:right;height:500px;width:300px;margin:10px auto 15px;border:1px solid #ebebeb;box-shadow: 0px 0px 10px 0px #ebebeb;-webkit-box-shadow: 0px 0px 10px 0px #ebebeb;-moz-box-shadow: 0px 0px 10px 0px #ebebeb;}
#feedpequerecetas ul{margin:0px auto;width:290px;list-style-type:none;}
#feedpequerecetas ul li{margin:5px 0px;padding:0px 3px;width:90px;height:90px;float:left;display:block;list-style-type:none;}
#feedpequerecetas h4{background:url(images/feedpequeocio.png) no-repeat top left;height: 26px;margin-bottom:0px;position:relative;top:-5px;}
#feedpequerecetas h4 a {font-size:12px;color:#fff;float:right;font-weight:bold;margin:5px 10px 2px 0px;text-decoration:underline;}
#feedpequerecetas ul li a{display: block;}
#feedpequerecetas ul li a:hover{text-decoration:none;color:#fff;}
#feedpequerecetas img {width:90px;height:90px;}

/* Footer */
#footer{clear: both;float: left;width: 100%;height:35px;background:#ffffff;margin: 0px auto;border-top:1px solid rgba(0,0,0,0.15);}
#menu_footer{width:990px;margin:0 auto;padding:10px 0px;background:#ffffff;}
#menu_foooter ul{list-style-type: none;margin: 0;padding: 0;text-align:center;}
#menu_footer ul li{padding: 0px 10px;float: left;display: block;color:#a2a0a0;}
#menu_footer ul li a{display: block;padding: 0;color:#a2a0a0;font-size: 12px;text-decoration:none;}
#menu_footer ul li a:hover{color:#222222;}


/* Comentarios */
.comments-template{margin:10px 0 10px 15px;padding:10px 0 0;text-align:justify;width:660px;float:left;}
.comments-template ol{margin:0px;padding: 0 0 15px;list-style: none;}
.comments-template ol li{margin:0px;line-height: 18px;padding: 10px 30px 10px 5px;border-bottom: 1px solid #FFBBE8;}
.comments-template h2, .comments-template h3{font-family: "Trebuchet MS", Sans-serif;font-size: 1.5em;color: #F67C95;background: url(images/globocomentarios.png) no-repeat center left;height:46px;padding: 20px 0px 0px 60px;line-height: 22px;border-bottom: 1px solid #FFBBE8;}
/* .comments-template #respond{background:url(images/dejarcomentario.png) no-repeat top left;border:none;} */
.comments-template img {padding: 4px;margin: 0 15px 2px 0;display: inline;float:left;}
.comentarios{display:block;	}
.commentmetadata{font-size: 11px;color:#F67C95;clear:both;}
.commentmetadata a{font-weight:bold;color:#F67C95;}
.comments-template p.nocomments{padding: 0;}
.comments-template textarea{font-family: 'Trebuchet MS', Helvetica, Georgia, Sans-serif;font-size: 12px;}
.tbcomment {padding: 5px;background: url(images/tb.png) no-repeat;}
.pbcomment {padding: 5px;background: url(images/pb.png) no-repeat;} 
.count {float:right;margin-right:7px;font-family: Georgia, Verdana, Arial;font-size:18px;color:#ccc;} 
.bypostauthor{background-color: #eceef3;}
.comment-author-admin{background-color:#eceef3;}


.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {}

.comment,
.comment-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.comment-author-info {
	display: inline-block;
	vertical-align:middle;
}

.comment-meta .avatar {
	float: left;
	margin-right: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.comment-author cite {
	font-style: normal;
	font-weight: bold;
}

.entry-meta.comment-metadata {
	margin-top: 0;
}

.comment-content {
	margin-top: 1.5em;
}

.comment-respond {
	margin-top: 1.5em;
}
.comment-form > .form-submit {
	margin-bottom: 0;
}

.comment-form input,
.comment-form-comment {
	margin-bottom: 10px;
}

.comment-form #author,
.comment-form #email,
.comment-form #url {
	display: block;
}

.comment-metadata .edit-link:before {
	display: none;
}

.comment-body {
	padding: 30px 0;
}

.comment-content {
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.depth-1.parent > .children {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.comment .children {
	padding-left: 30px;
	margin-top: -30px;
	border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.pingback .comment-body,
.trackback .comment-body {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.pingback .edit-link {
	font-size: 13px;
}

.comment-content p:last-child {
	margin-bottom: 0;
}

.comment-list > .comment:first-child {
	padding-top:0;
	margin-top:0;
	border-top: 0;
}

ol.comment-list {
	margin-bottom: 1.5em;
}

#wp-comment-cookies-consent {
	margin-right: 7px;}

/* FIN DE COMMENTS ANTIGUOS PRINCIPIO NUEVOS */
.anuncios{padding: 5px 0 18px 2px;width:468px;height:60px;}
.anuncios2{padding: 5px 0 0 0;text-align: center;}
.anuncios_izquierda{padding: 4px 10px 4px 0px;margin: 0 5px 2px 0;display: inline;width:300px;height:250px;float:left;}	
.anuncios_derecha{padding: 4px 10px 4px 0px;margin: 0 5px 2px 0;display: inline;width:300px;height:250px;float:right;}	
#relatedposts{height:250px;width:660px;margin:15px auto;}

ul#related{list-style:none;width:158px;height:240px;float:left;padding:4px 4px;margin-left:1px;}
ul#related:hover{background:#ebebeb 60%;}
ul#related li{background:transparent none repeat scroll 0 0;display:block;margin:0px; padding:0px;width:150px;height:150px;}
ul#related li.titulo{height:65px;}
ul#related li a:link, ul#related li a:visited{text-decoration:none;color:#666;}
ul#related li:hover{text-decoration:none;}
ul#related li img{margin:0px auto;}
ul#related-video{list-style:none;margin:0;display:block;float:left;width:660px;}
ul#related-video li{background:transparent none repeat scroll 0 0;float:left;margin:3px 20px 5px 0px; padding:2px 0px;width:320px;}
ul#related-video li a:link, 
ul#related-video li a:visited{text-decoration:none;color:#666;}
ul#related-video li:hover{text-decoration:none;}
ul#related-video li img{margin:0px auto;float:left;}
ul#related-video li:nth-child(2n+2) { margin-right: 0; }
#relacionados{width:670px;height:250px;margin:5px 0px;padding:0px 4px;float:left;}
.related_title{font-size:18px;color:#79b03d;font-family:'Cuprum',serif;line-height:16px;margin:5px auto;float:left;padding:8px 5px;width:145px;text-align:center;}
.related_title_video{font-size:18px;color:#79b03d;font-family:'Cuprum',serif;line-height:16px;margin:5px auto;float:left;padding:8px 5px;width:280px;text-align:center;}
#relacionados-video{width:660px;display:block;float:left; padding:0px 0px 5px 0px;margin:0px auto;}

/*NEW DESIGN*/
#index{float:left;width:1024px; margin:15px auto 5px; overflow:hidden;}
#index-cat995{float:left;width:1024px; margin:50px auto 5px; overflow:hidden;}
#seccion0  {height:260px; width:1000px; margin:0px auto; display:block;}
#seccion0-home  {height:260px; width:688px; margin:0px auto; display:block;}
#caja0{float:left;width:1000px; height:250px; margin:10px 0; border-top:2px dotted #77c756; border-bottom:2px dotted #77c756; display:block;}
#caja0-home{float:left;width:688px; height:250px; margin:10px 0; border-top:2px dotted #77c756; border-bottom:2px dotted #77c756; display:block;}
#indexleft{float:left;margin:0px;width:708px;}
#indexright{float:left;width:316px;margin:0px;}
#indexright-4{float:left;width:316px;margin-top:20px;}
#seccion1 {height:410px; width:688px; margin:0px auto 25px;}
#seccion3,#seccion5{height:387px; width:688px; margin:0px auto 20px;}
#seccion2,#seccion6{height:262px;width:688px;margin:20px auto 20px;display:block;}
#seccion4{height:255px;width:688px;margin:0px auto 20px;}
#seccion-videorecetas{height:420px;width:688px;margin:0px auto 20px;display:block;}
#seccion-cine{float:right;height:382px;border:1px solid #ebebeb;width:300px;margin:0px auto 20px; padding:0px;box-shadow: 0px 0px 10px 2px #ebebeb;-webkit-box-shadow: 0px 0px 10px 2px #ebebeb;-moz-box-shadow: 0px 0px 10px 2px #ebebeb;}
#seccion-cine2{float:right;height:200px;width:300px;margin:0px auto 20px; padding:0px;}
#seccion-especiales{float:right;height:480px;width:300px; margin:0px auto 15px; padding:0px;}
#pequechefs{float:right;width:300px; margin:0px auto 15px; border:1px solid #ebebeb;padding:0px;height:538px;box-shadow: 0px 0px 10px 0px #ebebeb;-webkit-box-shadow: 0px 0px 10px 0px #ebebeb;-moz-box-shadow: 0px 0px 10px 0px #ebebeb;}
#pequechefs h4{background:url(images/pequechefsh4.png) no-repeat top left; height:26px; width:301px; position:relative; top:-5px;text-indent:-9999px;}
#pequechefs ul{width:280px;height:142px;margin:19px 10px 21px 10px;list-style-type:none;display:block;color:#666;border-bottom:1px dotted #77c756;;font-style:Verdana, Arial, Sans-serif;}
#pequechefs img{border:1px solid #ddd;background-color:#f3f3f3;margin-top:5px;padding:4px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.izq{width:75px;height:120px;float:left;display:block;}
.der{width:190px;height:120px;float:left;display:block;margin-left:15px;}
/*#pequechefs ul:last-child{border-bottom:none;}*/
#pequechefs a{color:#336600;}
#especiales{float:right;width:300px; margin:0px auto 15px; padding:0px;}
#especiales ul{list-style-type:none;}
#especiales ul li{margin-bottom:3px;}
#redes-sociales{float:right;width:300px; margin:0px auto 15px; padding:0px;}
#redes-sociales ul{list-style-type:none;}
#redes-sociales ul li{margin-left:3px;float:left}
#caja1 {border:1px solid #ebebeb;float:left;width:332px;height:385px;margin-top:10px;box-shadow:0px 0px 10px 0px #ebebeb;-webkit-box-shadow:0px 0px 10px 0px #ebebeb;-moz-box-shadow:0px 0px 10px 0px #ebebeb;}
#caja1 h4 {background:url(images/cenasfacilesh4.png) no-repeat top left; height:28px; width:334px;margin:0px;position:relative;top:-5px;}
#caja1 h4 a {font-size:12px;color:#fff;float:right;font-weight:bold;margin:3px 28px 2px 0px;text-decoration:underline;}
#publi1{margin: 0px 0px 0px 8px;width:300px;height:250px;float:left;}
#publi2{margin:0px 15px;width:300px;height:250px;float:left;padding-top:-5px;}
#videos{margin: 0px 0px 0px 24px;width:328px;height:395px;float:left;border:1px solid #ebebeb;box-shadow:0px 0px 10px 0px #ebebeb;-webkit-box-shadow:0px 0px 10px 0px #ebebeb;-moz-box-shadow:0px 0px 10px 0px #ebebeb;}
#videos h4{background:url(images/nuestros-videos.png) no-repeat top left; height:30px; width:330px; text-indent:-9999px; margin:0px;position:relative; top:-2px;}
#videos2{margin:5px 0px 0px 0px;width:660px;height:410px;float:left;display:block;padding:0px;position:relative;top:-5px;}
#videos3{margin:0px 0px 10px 0px;width:300px;height:250px;float:left;display:block;padding:0px;position:relative;}
.sub_caja li{border-bottom:1px dotted #94b1df;width:310px; height:160px;list-style:none;padding:5px 0;margin:5px 10px;}
.sub_caja li:last-child, .sub_caja_5_1 li:last-child{border-bottom:none;}
.sub_caja_th{float:left;width:150px; height:150px; margin:0; border:0px solid #ccc; padding:0px;}
.sub_caja_right{float:left;width:145px;height:150px; margin:3px 0px 5px 10px;padding: 0px; font:Verdana, Arial;}
.sub_caja_0_title, .sub_caja_1_1_title, .sub_caja_1_2_title, .sub_caja_2_title, .sub_caja_3_1_title, .sub_caja_3_2_title, .sub_caja_4_title,  .sub_caja_5_1_title, .sub_caja_5_2_title, .sub_caja_6_title, .sub_caja_especiales_title, .sub_caja_cine_title{font-size:13px;font-weight:bold;line-height:16px;}
.sub_caja_1_1_title a, .sub_caja_1_2_title a, .sub_caja_2_title a, .sub_caja_3_1_title a, .sub_caja_3_2_title a, .sub_caja_4_title a, .sub_caja_5_1_title a, .sub_caja_5_2_title a, .sub_caja_6_title a, .sub_caja_cine_title a{color:#4c7499;}
.sub_caja_0_title a{color:#6388aa;}
.sub_caja_especiales_title a{color:#4c7499;}
.sub_caja_0_title h2,  .sub_caja_2_title h2, .sub_caja_4_title h2, .sub_caja_6_title h2, .sub_caja_especiales_title h2{text-align:center;font-size:12px;}
.sub_caja_1_1_excerpt, .sub_caja_1_2_excerpt, .sub_caja_3_1_excerpt, .sub_caja_3_2_excerpt, .sub_caja_5_1_excerpt, .sub_caja_5_2_excerpt, .sub_caja_cine_excerpt{font:Verdana, Arial; color: #666666; margin-top:5px;}
#caja2, #caja6 {border:1px solid #ebebeb;float:left;width:688px; height:260px;box-shadow:0px 0px 10px 0px #ebebeb;-webkit-box-shadow:0px 0px 10px 0px #ebebeb;-moz-box-shadow:0px 0px 10px 0px #ebebeb;}
#caja2 h4{background:url(images/recomendamos.png) no-repeat top left;height:25px;width:688px;padding:0px;margin:0px;position:relative;top:-5px;}
#caja2 h4 a, #caja3_1 h4 a, #caja3_2 h4 a, #caja4 h4 a, #caja5_1 h4 a, #caja5_2 h4 a, #caja6 h4 a, #caja1_1 h4 a, #caja1_2 h4 a {font-size:12px;color:#fff;float:right;font-weight:bold;margin:3px 15px 2px 0px;text-decoration:underline;}
#caja5_2 h4 a, #caja5_1 h4 a{margin:6px 15px 2px 0px;}
#caja6 h4{background:url(images/alimentacioninfantilh4.jpg) no-repeat top left; height:25px; width:688px; padding:0px; margin:0px; position:relative; top:-5px;}
#caja3_1, #caja5_1, #caja1_1{border:1px solid #ebebeb;width:332px;height:385px;float:left;box-shadow: 0px 0px 10px 0px #ebebeb;-webkit-box-shadow: 0px 0px 10px 0px #ebebeb;-moz-box-shadow: 0px 0px 10px 0px #ebebeb;}
#caja3_1 h4{background:url(images/recetasparabebesh4.png) no-repeat top center;height:26px; width:334px; position:relative; top:-5px; left:-1px;}
#caja5_1 h4{background:url(images/fiestasycumplesh4.png) no-repeat top left;height:28px; width:334px; position:relative; top:-5px; left:-1px;}
#caja1_1 h4{background:url(images/cenasfacilesh4.png) no-repeat top left; height:28px; width:334px;margin:0px;position:relative;top:-5px;}
#caja3_2,#caja5_2, #caja1_2{border:1px solid #ebebeb;width:328px;height:385px;float:right;box-shadow: 0px 0px 10px 0px #ebebeb;-webkit-box-shadow: 0px 0px 10px 0px #ebebeb;-moz-box-shadow: 0px 0px 10px 0px #ebebeb;}
#caja3_2 h4 {background:url(images/recetasthermomixh4.png) no-repeat top center;height:26px; width:330px;  position:relative; top:-5px; left:-1px;}
#caja5_2 h4 {background:url(images/recetasalergiash4.png) no-repeat top left;height:28px; width:330px; position:relative; top:-5px; left:-1px;}
#caja1_2 h4 {background:url(images/recetasfamiliaresh4.png) no-repeat top center;height:26px; width:330px;  position:relative; top:-5px; left:-1px;}
.sub_caja_3_1, .sub_caja_5_1, .sub_caja_1_1 {}
.sub_caja_3_1 li, .sub_caja_5_1 li, .sub_caja_1_1 li{border-bottom:1px dotted #94b1df;width:310px; height:160px;list-style:none;padding:5px 0;margin:5px 10px;}
.sub_caja_3_1 li:last-child, .sub_caja_5_1 li:last-child,.sub_caja_1_1 li:last-child {border-bottom:none;}
.sub_caja_cine{float:left;width:280px; height:90px; margin:10px 10px;display:block;}
.sub_caja_3_1_th, .sub_caja_5_1_th, .sub_caja_1_1_th{float:left;width:150px; height:150px; margin:0; border:0px solid #ccc; padding:0px;}
.sub_caja_cine_th{float:left;width:115px; height:86px; margin:0; border:0px solid #ccc; padding:0px;}
.sub_caja_3_1_right, .sub_caja_5_1_right, .sub_caja_1_1_right {float:left;width:145px;height:150px; margin:3px 0px 5px 10px;padding:0px;font:Verdana, Arial;}
.sub_caja_cine_right{float:left;width:150px;height:86px; margin:0px 0px 0px 10px;padding:0px; font:Verdana,Arial;}
.sub_caja_3_2, .sub_caja_5_2, .sub_caja_1_1{}
.sub_caja_3_2 li, .sub_caja_5_2 li, .sub_caja_1_2 li{border-bottom:1px dotted #94b1df;width:310px;height:160px;list-style:none;padding:5px 0;margin:5px 10px;}
.sub_caja_3_2 li:last-child, .sub_caja_5_2 li:last-child, .sub_caja_1_2 li:last-child{border-bottom:none;}
.sub_caja_3_2_th, .sub_caja_5_2_th, .sub_caja_1_2_th {float:left;width:150px; height:150px; margin:0; border:0px solid #ccc; padding:0px;}
.sub_caja_3_2_right, .sub_caja_5_2_right, .sub_caja_1_2_right{float:left;width:145px;height:150px; margin:5px 0px 5px 5px;padding: 0px; font:Verdana, Arial;}
#caja4{float:right;width:330px;border:1px solid #ebebeb;height:250px;margin-top:3px;box-shadow: 0px 0px 10px 0px #ebebeb;-webkit-box-shadow: 0px 0px 10px 0px #ebebeb;-moz-box-shadow: 0px 0px 10px 0px #ebebeb;}
#caja4 h4{background:url(images/recetasisabelh4.png) no-repeat top left; height:26px; width:332px;  position:relative; top:-5px;}
#caja-especiales{float:left;width:300px;height:538px;margin:0px 0px;box-shadow: 0px 0px 10px 0px #ebebeb;-webkit-box-shadow: 0px 0px 10px 0px #ebebeb;-moz-box-shadow: 0px 0px 10px 0px #ebebeb;}
#caja_cine{float:left; height:110px; width:320px; margin:15px 0px 10px 0px; border-top:1px dotted #98b4e0;}
#caja-especiales h4{background:url(images/pequechefsh4.png) no-repeat top left; height:26px; width:301px; position:relative; top:-5px;text-indent:-9999px;}
#caja-especiales h4 a {font-size:12px;color:#fff;float:right;font-weight:bold; margin:5px 10px 2px 0px; text-decoration:underline;}
#seccion-cine h4, #seccion-cine2 h4{background:url(images/recetasvideo.png) no-repeat top left; height:26px; width:300px; text-indent:-9999px; position:relative; top:-4px;padding:0px;}
.sub_caja_4{}
.sub_caja_4 li{float:left; width:154px; height:202px; margin:10px 0;padding:0 5px;border-right:1px dotted #94b1df;list-style:none;}
.sub_caja_4 li:last-child {border-right:none;}
.sub_caja_especiales {float:left;width:280px; height:90px; margin:5px 10px;display:block;}
.sub_caja_4_th {float:left;width:150px; height: 150px; margin:0px; border:0px solid #ccc; padding:0px;}
.sub_caja_especiales_th{float:left;width:115px; height:80px; border:0px solid #ccc; padding:0px;}
.sub_caja_4_bottom{float:left;width:142px;height:60px; margin:0px;padding: 5px 2px; font:Verdana, Arial;}
.sub_caja_especiales_right{float:left;width:150px;height:80px; margin:0px 0px 0px 10px;padding:0px; font:Verdana,Arial;}
.sub_caja_0 *, .sub_caja_0 *:before, .sub_caja_0 *:after { -webkit-box-sizing: content-box;  -moz-box-sizing: content-box; box-sizing: content-box; }
.sub_caja_0 li, .sub_caja_2 li, .sub_caja_6 li{float:left; width:154px; height:210px; padding:0 8px;margin:5px 0px;display:block;border-right:1px solid #ccc;list-style:none;}
.sub_caja_0 li {padding:15px 6px 0px;border-right:none;}
.sub_caja_2 li:last-child, .sub_caja_6 li:last-child{border-right:none;}
.sub_caja_0 li:last-child{padding-right:none;}
.sub_caja_0_th, .sub_caja_2_th, .sub_caja_6_th{float:left;width:150px; height: 150px; margin:0px;border:0px solid #ccc; padding:0px;display:block;}
.sub_caja_0_th{margin-top:15px;}
.sub_caja_0_bottom, .sub_caja_2_bottom, .sub_caja_6_bottom{float:left;width:150px;height:50px; margin:0px;padding:5px 2px; font:Verdana,Arial;}
.ver-todo{float:left;width:320px; height:10px; margin:0px 0px 0px 5px; padding:0px;}
.ver-todo a {float:left;color:#4c7499;text-decoration:underline;font-weight:bold;}
.ver-todo2 a {color:#316fa9;text-decoration:underline;font-weight:bold;font-size:12px; }
.ver-todo2{float:left;width:290px; height:10px; margin:10px 3px 2px 3px; padding:0px;text-align:center;}

/* MENU LATERAL */
#menulateral, #menulateralhome{float:right;margin:0px auto 10px;box-shadow: 0px 0px 10px 0px #ebebeb;-webkit-box-shadow: 0px 0px 10px 0px #ebebeb;-moz-box-shadow: 0px 0px 10px 0px #ebebeb;}
#menulateral {background:url(images/bg_menu.png) no-repeat top left;width:300px; height:480px;}
#menulateralhome{background:url(images/bg_menu.png)no-repeat top left;width:300px; height:436px; }
#menulateral ul, #menulateralhome ul{list-style-type: none;margin: 0;padding: 0px;}
#menulateral ul li, #menulateralhome ul li{padding:1px 2px;list-style-type: none;}
#menulateral ul li:last-child, #menulateralhome ul li:last-child{border-bottom:none;}
#menulateral .mlizq{float:left;width:139px;margin:0px 8px;}
#menulateralhome .mlizq {float:left;width:139px;margin:10px 8px 0px 8px;}
#menulateral .mlder{float:left;width:110px;margin:0px 8px;}
#menulateralhome .mlder{float:left;width:110px;margin:10px 8px 0px 8px;}
#menulateral .mlizq h4, #menulateralhome .mlizq h4{width:139px;text-transform:uppercase;color:#fff;font-family: "Franklin Gothic Demi", Verdana, Arial, sans-serif; font-size:12px;text-decoration:underline;margin:4px 0px 2px 0px;}
#menulateral .mlder h4, #menulateralhome .mlder h4{width:110px;text-transform:uppercase;color:#fff;font-family: "Franklin Gothic Demi", Verdana, Arial, sans-serif; font-size:12px;text-decoration:underline;margin:4px 0px 2px 0px;}
#menulateral .mlizq li , #menulateralhome .mlizq li{width:139px; height:14px;border-bottom:1px solid #fff;} 
#menulateral .mlder li , #menulateralhome .mlder li{width:110px; height:14px;border-bottom:1px solid #fff;} 
#menulateral .mlizq li a, #menulateral .mlder li a, #menulateralhome .mlizq li a, #menulateralhome .mlder li a {display: block; padding: 0px; color:#fff;font-family:Verdana, Arial, sans-serif;font-size:11px;}
#menulateral .mlizq li a:hover, #menulateral .mlder li a:hover, #menulateralhome .mlizq li a:hover, #menulateralhome .mlder li a:hover{text-decoration:none;color:#f3f3f3;}

/* MENU INFERIOR */
#menuinferior {color:#a2a0a0; clear:both;width:100%; display:block;background:#ffffff;border-top:5px solid #75b434;}
#menuinferior_wrapper{width:1024px;margin:0px auto;height:200px;padding-top:25px;}
#menuinferior ul{list-style-type:none;}
#menuinferior h3{color:#ffffff;font-size:20px;font-family: 'Cuprum', sans-serif;background:#75b434; border-top-left-radius:5px; border-top-right-radius:5px;display:block; width:1004px; margin:0 auto;text-indent:20px;}
#menuinferior a{color:#6c6c6c;}

#mi1, #mi2, #mi3, #mi4, #mi5{float:left;width:150px;border-right:1px dotted #aaaaaa;padding:5px 22px ;margin:0px;}
#mi1{}
#mi1 h4, #mi2 h4, #mi3 h4, #mi4 h4, #mi5 h4 {height:17px; padding:0px; margin:0px 0px 8px 0px; color:#427013;text-transform:uppercase;font-weight:bold;text-decoration:underline;}
#mi2{}
#mi2 h4 { }
#mi3{}
#mi3 h4 {}
#mi5{border-right:none;}
#mi4 h4 { }

/* =Comments
-------------------------------------------------------------- */
#comments {clear: both;}
#comments .navigation {padding: 0 0 18px 0;}
h3#comments-title,
h3#reply-title {font-size: 20px;font-weight: bold;margin-bottom: 0;}
h3#comments-title {padding: 24px 0;}
.commentlist {list-style: none;margin: 0;}
.commentlist li.comment {border-bottom: 1px solid #e7e7e7;line-height: 24px;margin: 0 0 24px 0;padding: 0 0 0 56px;position: relative;}
.commentlist li:last-child {border-bottom: none;margin-bottom: 0;}
#comments .comment-body ul,
#comments .comment-body ol {margin-bottom: 18px;}
#comments .comment-body p:last-child {margin-bottom: 6px;}
#comments .comment-body blockquote p:last-child {margin-bottom: 24px;}
.commentlist ol {list-style: decimal;}
.commentlist .avatar {position: absolute;top: 4px;left: 0;}
.comment-author {}
.comment-author cite {color: #000;font-style: normal;font-weight: bold;}
.comment-author .says {font-style: italic;}
.comment-meta {font-size: 12px;margin: 0 0 18px 0;}
.comment-meta a:link,
.comment-meta a:visited {color: #888;text-decoration: none;}
.comment-meta a:active,
.comment-meta a:hover {color: #ff4b33;}
.commentlist .even {}
.commentlist .bypostauthor {}
.reply {font-size: 12px;padding: 0 0 24px 0;}
.reply a, a.comment-edit-link {color: #888;}
.reply a:hover,
a.comment-edit-link:hover {color: #ff4b33;}
.commentlist .children {list-style: none;margin: 0;}
.commentlist .children li {border: none;margin: 0;}
.nopassword,.nocomments {display: none;}
#comments .pingback {border-bottom: 1px solid #e7e7e7;margin-bottom: 18px;padding-bottom: 18px;}
.commentlist li.comment+li.pingback {margin-top: -6px;}
#comments .pingback p {color: #888;display: block;font-size: 12px;line-height: 18px;margin: 0;}
#comments .pingback .url {font-size: 13px;font-style: italic;}

/* Comments form */
input[type=submit] {color: #333;}
#respond {border-top: 1px solid #e7e7e7;margin: 24px 0;overflow: hidden;position: relative;}
#respond p {margin: 0;}
#respond .comment-notes {margin-bottom: 1em;}
.form-allowed-tags {line-height: 1em;}
.children #respond {	margin: 0 48px 0 0;}
h3#reply-title {	margin:18px 0;}
#comments-list #respond {margin: 0 0 18px 0;}
#comments-list ul #respond {margin: 0;}
#cancel-comment-reply-link {font-size: 12px;font-weight: normal;line-height: 18px;}
#respond .required {color: #ff4b33;font-weight: bold;}
#respond label {	color: #888;	font-size: 12px;}
#respond input {	margin: 0 0 9px;	width: 98%;}
#respond textarea {width: 98%;}
#respond .form-allowed-tags {color: #888;font-size: 12px;line-height: 18px;}
#respond .form-allowed-tags code {	font-size: 11px;}
#respond .form-submit {	margin: 12px 0;}
#respond .form-submit input {	font-size: 14px;width: auto;}
.simplemodal-login-credit {display:none;}

/* TOOLTIP */
/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 2px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background: rgb(60,156,254);
	background: rgba(60,156,254,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3c9cfe), to(#74b8fe));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}


#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(60,156,254,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(60,156,254,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(60,156,254);
	border-top-color: rgba(60,156,254,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(60,156,254);
	border-bottom-color: rgba(60,156,254,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(60,156,254,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(60,156,254,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(60,156,254,0.92);
	}
}

/* PAGINA DE AUTOR */
#bio_autor{margin:0px 0px 20px 15px;float:left; width:650px;display:block;color:#999;}
#bio_autor_post{background:#CEF4AA;margin:10px 0px 20px 0px;font-size:11px;width:680px;height:104px;color:#666;float:left;padding:0px;}
#bio_autor .autor_foto{float:right; padding:4px; border:1px solid #ddd; background: #fff; width:128px; height:128px; margin:8px 5px 0px 5px;}
#bio_autor_post .autor_foto{float:left;width:80px; height:80px; margin:10px 0px 10px 10px;padding-top:2px;}
#bio_autor h2, .posts_autor h2, #bio_autor_post h4{font-family:'Cuprum',sans-serif;font-size: 1.5em;padding:0;margin:0;width:500px;text-decoration:none;}
#bio_autor_post h4 a, #bio_autor_post a{color:#ff1446;}
#bio_autor_post h4 a:hover{background:#ff1446;color:#fff;}
#bio_autor .descripcion {float:left;width:475px;}
#bio_autor_post .descripcion{float:left;width:550px;margin-left:20px;margin-top:10px;}
#bio_autor_post .descripcion p{margin-top:2px;line-height:14px;}
.posts_autor{float:left;margin-left:15px;margin-bottom:25px;width:640px;}
.posts_autor_single{width:650px;float:left;}

/* PAGINA DE RESULTADOS DE BUSQUEDA */
#blog-search{width:710px;float:left;}
.post-search{height:200px;width:660px;float:left;margin:10px 0px;}
.entry-meta-search{float:left;margin-left:10px;width:330px;}
.entry-search-summary{float:left;}
.entry-date-search{float:left;width:300px;margin-bottom:5px;}
.image-search{float:left;width:320px;height:200px;}
.title-search{width:300px;float:left;}
.title-search h2{font-family:'Cuprum',sans-serif;font-size: 1.5em;padding:0;margin:0;font-weight:bold; text-transform:uppercase;text-decoration:none; }
.title-search h2 a{color:#427013;}
#post-0{margin-left:0px;}
#post-0 .entry-content{margin-left:15px;}

.recetascat{width:190px; height:300px; background: #fff; border:1px solid #ddd; float:left; padding:10px; margin: 0px 11px 20px 5px; -moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;box-shadow: 0px 0px 10px 0px #ebebeb;-webkit-box-shadow: 0px 0px 10px 0px #ebebeb;-moz-box-shadow: 0px 0px 10px 0px #ebebeb;}
.recetascat h2{font-family:'Cuprum',sans-serif;font-size: 1.5em;padding:0;margin:10px 0px;text-align:center;font-weight:bold; text-transform:uppercase;text-decoration:none; line-height:18px;}
#blog-cat{width:685px;float:left;clear:both;margin:8px 0px 15px 15px;}
.gform_wrapper li,
.gform_wrapper form li{background:none;padding:0px;}


/* PAGINA DE CATEGORIA ISABEL */
.post-isabel{height:510px;width:310px;float:left;margin:10px 15px;border-bottom:1px dotted #ff3366;}
.entry-meta-isabel{float:left;width:310px;}
.entry-search-summary{float:left;}
.entry-date-isabel{float:left;width:310px;margin-bottom:5px;}
.image-isabel{float:left;width:310px;height:350px;}
.title-isabel{width:310px;float:left;}
.title-isabel h2{font-family:'Cuprum',sans-serif;font-size: 1.5em;padding:0;margin:0;font-weight:bold; text-transform:uppercase;text-decoration:none; }
.title-isabel h2 a{color:#ff3366;}
#tiendagaravilla{width:300px;height:250px;float:left;margin:20px 0px;}

/* COLUMNA DERECHA ISABEL */
#sendus{ background: transparent url(images/bg_send_us.png) no-repeat center center; height: 13.7em;  padding: 2.2em 0 0 1.2em;width: 300px;display:block;float:left;margin:0px;}
#sendus h3{ margin-bottom: 1.8em;}
#sendus h3 a:link, #subheader #sendus h3 a:visited{ color: #5A1797; font-size: 1.2em; font-weight: bold; line-height: 1em; text-decoration: none;}
#sendus h3 a:hover, #subheader #sendus h3 a:active{ color: #5A1797; font-size: 1.2em; font-weight: bold; line-height: 1em; text-decoration: underline;}
#sendus h3 a span{ color: #48A657;}
#sendus p{ color: #858585; font-size: 1em; font-weight: bold; margin-bottom: 1.2em; width: 13em;}
#sendus a.boton:link, #subheader #sendus a.boton:visited{ background: transparent url(images/btn_participate_es.png) no-repeat left top; color: #FFF; display: block; float: left; font-size: 1.8em; font-weight: bold; height: 34px; line-height: 2em; text-align: center; text-indent: -9999em; width: 127px;}
#sendus a.boton:hover, #subheader #sendus a.boton:active{ background: transparent url(images/btn_participate_es.png) no-repeat left bottom; color: #FFF; display: block; float: left; font-size: 1.8em; font-weight: bold; height: 34px; line-height: 2em; text-align: center; text-indent: -9999em; width: 127px;}

#natur_tehcno{ float:left;width:300px;height:150px;display:block;margin-top:15px;}
#natur_tehcno a.img{ display: block; float: left;}
#natur_tehcno a.img img{ display: block;}
#natur_tehcno h3{ margin: 0 0 0.8em 12.7em;}
#natur_tehcno h3 a:link, #natur_tehcno h3 a:visited{ color: #5A1797; font-size: 1.2em; font-weight: bold; line-height: 1em; text-decoration: none;}
#natur_tehcno h3 a:hover, #natur_tehcno h3 a:active{ color: #5A1797; font-size: 1.2em; font-weight: bold; line-height: 1em; text-decoration: underline;}
#natur_tehcno h3 a span{ color: #48A657;}
#natur_tehcno p{ color: #414141; font-size: 1em; margin-left: 12.7em;}
#natur_tehcno a.see_det:after{ content: " \00BB  ";}
#natur_tehcno a.see_det:link, #natur_tehcno a.see_det:visited{ color: #5A1797; display: block; font-size: 1em; font-weight: bold; margin: 0.6em 0 0 12.7em; text-decoration: none;}
#natur_tehcno a.see_det:hover, #natur_tehcno a.see_det:active{ color: #5A1797; display: block; font-size: 1em; font-weight: bold; margin: 0.6em 0 0 12.7em; text-decoration: underline;}

/* PAGINA DE CATEGORIA POLLOCUK */

#localizadorcuk, #promocionescuk{width:300px;float:left;margin:20px 0px;}
#localizadorcuk {height:290px;}
#promocionescuk{height:272px;}

.bannerstulipan{width:300px;float:left;margin:10px 0px;}

/* PAGINA DE PRUEBA 7 RECETAS DE POLLO */

.blog-post-9156 {width:680px; margin:0px;}
#blog-9156{width:1024px;clear:both;margin:25px auto;text-align:center;}
#blog-9156 h1 a, #blog-9156 h2 a{width:1024px; text-align:center;font-family:'Cuprum',sans-serif;font-size: 2em;padding: 10px 0 10px 0;color: #e53626;line-height:36px;}


/* FORMULARIO CONCURSO TULIPAN */
#gform_54 {background:#fcfee8;padding:10px 15px;color:#669223;font-style:normal;margin-bottom:20px;}
#gform_54 ul li {font-style:normal;}
#gform_54 h2.gsection_title {font-style:normal;}

.blog-post-concurso, #blog-concurso{margin-top:0px;padding-top:0px;}
.entry-concurso{text-align:justify;width:660px;margin:0px auto;float:left;padding:0px 10px;}


/* PAGINA DE CONCURSO RECETAS TULIPAN */
.post-concurso-tulipan{height:430px;width:275px;float:left;margin:10px 5px 10px 40px;border-bottom:1px dotted #ff3366;}
.entry-meta-concurso-tulipan{float:left;width:275px;}
.entry-concurso-tulipan-summary{float:left;}
.image-concurso-tulipan{float:left;width:275px;height:350px;}
.title-concurso-tulipan{width:275px;float:left;}
.title-concurso-tulipan h2{font-family:'Cuprum',sans-serif;font-size: 1.5em;line-height:24px;padding:0;margin:0;font-weight:bold; text-transform:uppercase;text-decoration:none; }
.title-concurso-tulipan h2 a{color:#ff3366;}

.cat_description {margin:10px;height:120px;}
.cat_description h3 {color:#ed4740;font-family:'Cuprum',sans-serif;font-size: 1.5em;line-height:24px;padding:0;margin:0;font-weight:bold; text-transform:uppercase;text-decoration:none;;}

.leaderboard_home {float:left;margin-left:15px;padding-left:11px;width:auto;background: url(images/publicidad.gif) no-repeat top left;z-index:60;position:relative;}

/* FULL-WIDTH */
.full-width.entry, .full-width.blog-post, .full-width.post-page  {
    width:924px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.full-width.blog-post{padding:50px;}
.full-width.entry{padding-bottom:50px;}

.full-width.post-page h1{margin-left:0px;width:100%;}

/*** GF REMOVE LABEL ON FIELDS USING PLACEHOLDER ***/
.gform_wrapper{margin-bottom:70px !important;}
.gform_wrapper .top_label .gfield_label,
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, 
.gform_wrapper .gfield_required.gform_wrapper .gform_footer.top_label  {
 display: none;
}

/*** FIELD STYLING ***/
.gform_wrapper input[type=text],
.gform_wrapper input[type=email],
.gform_wrapper input[type=url],
.gform_wrapper textarea,
.gform_wrapper .gfield select{
 background: #eee;
 border: none;
 border-radius: 0;
 color: #999 !important;
 padding: 15px !important;
}

.gform_wrapper .gfield select {height:51px;}

.gfield_checkbox label {
font-size: 1em !important;
font-style:normal;
}


.gform_wrapper ul.gfield_checkbox, .gform_wrapper ul.gfield_radio
{
    margin: 6px 0;
    padding: 0;
}

.gform_wrapper .top_label li.gfield.gf_right_half
{vertical-align:bottom;}

/*** BUTTON STYLING ***/
.gform_footer {padding-bottom:12px;}
.gform_wrapper .gform_footer input.button {
 float: right;
 background: transparent;
 border: 2px solid #2ea3f2;
 font-size: 22px;
 color: #2ea3f2;
 padding: 12px 23px;
 border-radius: 5px;
 letter-spacing: 2px;
 cursor: pointer;
}

input#gform_submit_button_70{
    border: 1px solid transparent;
    background: #666; 
    cursor: pointer;
    -webkit-appearance: button;
    padding: 10px 20px; 
    color: #FFF;
}

/*** BUTTON HOVER STYLING ***/
.gform_wrapper .gform_footer input.button:hover {
 background: rgba(0, 0, 0, 0.05);
 border: 2px solid transparent;
}


/* Elementor 1.5 and up – places section icons inside the bounding box */
.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-section-settings {
top: 100%;
}

.elementor-editor-active .generate-combined-header {
    pointer-events: none;
}


